/themes/twentytwentythree/theme.json
/themes/twentytwentythree/templates/single.html
/themes/twentytwentythree/templates/search.html
/themes/twentytwentythree/templates/page.html
/themes/twentytwentythree/templates/index.html
/themes/twentytwentythree/templates/home.html
/themes/twentytwentythree/templates/blog-alternative.html
/themes/twentytwentythree/templates/blank.html
/themes/twentytwentythree/templates/archive.html
/themes/twentytwentythree/templates/404.html
/themes/twentytwentythree/styles/whisper.json
/themes/twentytwentythree/styles/sherbet.json
/themes/twentytwentythree/styles/pitch.json
/themes/twentytwentythree/styles/pilgrimage.json
/themes/twentytwentythree/styles/marigold.json
/themes/twentytwentythree/styles/grapes.json
/themes/twentytwentythree/styles/electric.json
/themes/twentytwentythree/styles/canary.json
/themes/twentytwentythree/styles/block-out.json
/themes/twentytwentythree/styles/aubergine.json
/themes/twentytwentythree/style.css
/themes/twentytwentythree/screenshot.png
/themes/twentytwentythree/readme.txt
/themes/twentytwentythree/patterns/post-meta.php
/themes/twentytwentythree/patterns/hidden-no-results.php
/themes/twentytwentythree/patterns/hidden-heading.php
/themes/twentytwentythree/patterns/hidden-comments.php
/themes/twentytwentythree/patterns/hidden-404.php
/themes/twentytwentythree/patterns/footer-default.php
/themes/twentytwentythree/patterns/call-to-action.php
/themes/twentytwentythree/parts/post-meta.html
/themes/twentytwentythree/parts/header.html
/themes/twentytwentythree/parts/footer.html
/themes/twentytwentythree/parts/comments.html
/themes/twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.ttf.woff2
/themes/twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.otf.woff2
/themes/twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.ttf.woff2
/themes/twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.otf.woff2
/themes/twentytwentythree/assets/fonts/source-serif-pro/LICENSE.md
/themes/twentytwentythree/assets/fonts/inter/LICENSE.txt
/themes/twentytwentythree/assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf
/themes/twentytwentythree/assets/fonts/ibm-plex-mono/OFL.txt
/themes/twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Regular.woff2
/themes/twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Light.woff2
/themes/twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Italic.woff2
/themes/twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Bold.woff2
/themes/twentytwentythree/assets/fonts/dm-sans/LICENSE.txt
/themes/twentytwentythree/assets/fonts/dm-sans/DMSans-Regular.woff2
/themes/twentytwentythree/assets/fonts/dm-sans/DMSans-Regular-Italic.woff2
/themes/twentytwentythree/assets/fonts/dm-sans/DMSans-Bold.woff2
/themes/twentytwentythree/assets/fonts/dm-sans/DMSans-Bold-Italic.woff2
/themes/twentytwentyfour/theme.json
/themes/twentytwentyfour/templates/single.html
/themes/twentytwentyfour/templates/single-with-sidebar.html
/themes/twentytwentyfour/templates/search.html
/themes/twentytwentyfour/templates/page.html
/themes/twentytwentyfour/templates/page-with-sidebar.html
/themes/twentytwentyfour/templates/page-wide.html
/themes/twentytwentyfour/templates/page-no-title.html
/themes/twentytwentyfour/templates/index.html
/themes/twentytwentyfour/templates/home.html
/themes/twentytwentyfour/templates/archive.html
/themes/twentytwentyfour/templates/404.html
/themes/twentytwentyfour/styles/rust.json
/themes/twentytwentyfour/styles/onyx.json
/themes/twentytwentyfour/styles/mint.json
/themes/twentytwentyfour/styles/maelstrom.json
/themes/twentytwentyfour/styles/ice.json
/themes/twentytwentyfour/styles/fossil.json
/themes/twentytwentyfour/styles/ember.json
/themes/twentytwentyfour/style.css
/themes/twentytwentyfour/screenshot.png
/themes/twentytwentyfour/readme.txt
/themes/twentytwentyfour/patterns/text-title-left-image-right.php
/themes/twentytwentyfour/patterns/text-project-details.php
/themes/twentytwentyfour/patterns/text-feature-grid-3-col.php
/themes/twentytwentyfour/patterns/text-faq.php
/themes/twentytwentyfour/patterns/text-centered-statement.php
/themes/twentytwentyfour/patterns/text-centered-statement-small.php
/themes/twentytwentyfour/patterns/text-alternating-images.php
/themes/twentytwentyfour/patterns/testimonial-centered.php
/themes/twentytwentyfour/patterns/template-single-portfolio.php
/themes/twentytwentyfour/patterns/template-search-portfolio.php
/themes/twentytwentyfour/patterns/template-search-blogging.php
/themes/twentytwentyfour/patterns/template-index-portfolio.php
/themes/twentytwentyfour/patterns/template-index-blogging.php
/themes/twentytwentyfour/patterns/template-home-portfolio.php
/themes/twentytwentyfour/patterns/template-home-business.php
/themes/twentytwentyfour/patterns/template-home-blogging.php
/themes/twentytwentyfour/patterns/template-archive-portfolio.php
/themes/twentytwentyfour/patterns/template-archive-blogging.php
/themes/twentytwentyfour/patterns/team-4-col.php
/themes/twentytwentyfour/patterns/posts-list.php
/themes/twentytwentyfour/patterns/posts-images-only-offset-4-col.php
/themes/twentytwentyfour/patterns/posts-images-only-3-col.php
/themes/twentytwentyfour/patterns/posts-grid-2-col.php
/themes/twentytwentyfour/patterns/posts-3-col.php
/themes/twentytwentyfour/patterns/posts-1-col.php
/themes/twentytwentyfour/patterns/page-rsvp-landing.php
/themes/twentytwentyfour/patterns/page-portfolio-overview.php
/themes/twentytwentyfour/patterns/page-newsletter-landing.php
/themes/twentytwentyfour/patterns/page-home-portfolio.php
/themes/twentytwentyfour/patterns/page-home-portfolio-gallery.php
/themes/twentytwentyfour/patterns/page-home-business.php
/themes/twentytwentyfour/patterns/page-home-blogging.php
/themes/twentytwentyfour/patterns/page-about-business.php
/themes/twentytwentyfour/patterns/hidden-sidebar.php
/themes/twentytwentyfour/patterns/hidden-search.php
/themes/twentytwentyfour/patterns/hidden-posts-heading.php
/themes/twentytwentyfour/patterns/hidden-post-navigation.php
/themes/twentytwentyfour/patterns/hidden-post-meta.php
/themes/twentytwentyfour/patterns/hidden-portfolio-hero.php
/themes/twentytwentyfour/patterns/hidden-no-results.php
/themes/twentytwentyfour/patterns/hidden-comments.php
/themes/twentytwentyfour/patterns/hidden-404.php
/themes/twentytwentyfour/patterns/gallery-project-layout.php
/themes/twentytwentyfour/patterns/gallery-offset-images-grid-4-col.php
/themes/twentytwentyfour/patterns/gallery-offset-images-grid-3-col.php
/themes/twentytwentyfour/patterns/gallery-offset-images-grid-2-col.php
/themes/twentytwentyfour/patterns/gallery-full-screen-image.php
/themes/twentytwentyfour/patterns/footer.php
/themes/twentytwentyfour/patterns/footer-colophon-3-col.php
/themes/twentytwentyfour/patterns/footer-centered-logo-nav.php
/themes/twentytwentyfour/patterns/cta-subscribe-centered.php
/themes/twentytwentyfour/patterns/cta-services-image-left.php
/themes/twentytwentyfour/patterns/cta-rsvp.php
/themes/twentytwentyfour/patterns/cta-pricing.php
/themes/twentytwentyfour/patterns/cta-content-image-on-right.php
/themes/twentytwentyfour/patterns/banner-project-description.php
/themes/twentytwentyfour/patterns/banner-hero.php
/themes/twentytwentyfour/parts/sidebar.html
/themes/twentytwentyfour/parts/post-meta.html
/themes/twentytwentyfour/parts/header.html
/themes/twentytwentyfour/parts/footer.html
/themes/twentytwentyfour/functions.php
/themes/twentytwentyfour/assets/images/windows.webp
/themes/twentytwentyfour/assets/images/tourist-and-building.webp
/themes/twentytwentyfour/assets/images/museum.webp
/themes/twentytwentyfour/assets/images/icon-message.webp
/themes/twentytwentyfour/assets/images/hotel-facade.webp
/themes/twentytwentyfour/assets/images/green-staircase.webp
/themes/twentytwentyfour/assets/images/building-exterior.webp
/themes/twentytwentyfour/assets/images/art-gallery.webp
/themes/twentytwentyfour/assets/images/angular-roof.webp
/themes/twentytwentyfour/assets/images/abstract-geometric-art.webp
/themes/twentytwentyfour/assets/fonts/jost/OFL.txt
/themes/twentytwentyfour/assets/fonts/jost/Jost-VariableFont_wght.woff2
/themes/twentytwentyfour/assets/fonts/jost/Jost-Italic-VariableFont_wght.woff2
/themes/twentytwentyfour/assets/fonts/inter/LICENSE.txt
/themes/twentytwentyfour/assets/fonts/inter/Inter-VariableFont_slnt,wght.woff2
/themes/twentytwentyfour/assets/fonts/instrument-sans/OFL.txt
/themes/twentytwentyfour/assets/fonts/instrument-sans/InstrumentSans-VariableFont_wdth,wght.woff2
/themes/twentytwentyfour/assets/fonts/instrument-sans/InstrumentSans-Italic-VariableFont_wdth,wght.woff2
/themes/twentytwentyfour/assets/fonts/cardo/LICENSE.txt
/themes/twentytwentyfour/assets/fonts/cardo/cardo_normal_700.woff2
/themes/twentytwentyfour/assets/fonts/cardo/cardo_normal_400.woff2
/themes/twentytwentyfour/assets/fonts/cardo/cardo_italic_400.woff2
/themes/twentytwentyfour/assets/css/button-outline.css
/themes/twentytwentyfive/theme.json
/themes/twentytwentyfive/templates/single.html
/themes/twentytwentyfive/templates/search.html
/themes/twentytwentyfive/templates/page.html
/themes/twentytwentyfive/templates/page-no-title.html
/themes/twentytwentyfive/templates/index.html
/themes/twentytwentyfive/templates/home.html
/themes/twentytwentyfive/templates/archive.html
/themes/twentytwentyfive/templates/404.html
/themes/twentytwentyfive/styles/typography/typography-preset-7.json
/themes/twentytwentyfive/styles/typography/typography-preset-6.json
/themes/twentytwentyfive/styles/typography/typography-preset-5.json
/themes/twentytwentyfive/styles/typography/typography-preset-4.json
/themes/twentytwentyfive/styles/typography/typography-preset-3.json
/themes/twentytwentyfive/styles/typography/typography-preset-2.json
/themes/twentytwentyfive/styles/typography/typography-preset-1.json
/themes/twentytwentyfive/styles/sections/section-5.json
/themes/twentytwentyfive/styles/sections/section-4.json
/themes/twentytwentyfive/styles/sections/section-3.json
/themes/twentytwentyfive/styles/sections/section-2.json
/themes/twentytwentyfive/styles/sections/section-1.json
/themes/twentytwentyfive/styles/colors/08-midnight.json
/themes/twentytwentyfive/styles/colors/07-sunrise.json
/themes/twentytwentyfive/styles/colors/06-morning.json
/themes/twentytwentyfive/styles/colors/05-twilight.json
/themes/twentytwentyfive/styles/colors/04-afternoon.json
/themes/twentytwentyfive/styles/colors/03-dusk.json
/themes/twentytwentyfive/styles/colors/02-noon.json
/themes/twentytwentyfive/styles/colors/01-evening.json
/themes/twentytwentyfive/styles/blocks/post-terms-1.json
/themes/twentytwentyfive/styles/blocks/03-annotation.json
/themes/twentytwentyfive/styles/blocks/02-subtitle.json
/themes/twentytwentyfive/styles/blocks/01-display.json
/themes/twentytwentyfive/styles/08-midnight.json
/themes/twentytwentyfive/styles/07-sunrise.json
/themes/twentytwentyfive/styles/06-morning.json
/themes/twentytwentyfive/styles/05-twilight.json
/themes/twentytwentyfive/styles/04-afternoon.json
/themes/twentytwentyfive/styles/03-dusk.json
/themes/twentytwentyfive/styles/02-noon.json
/themes/twentytwentyfive/styles/01-evening.json
/themes/twentytwentyfive/style.css
/themes/twentytwentyfive/screenshot.png
/themes/twentytwentyfive/readme.txt
/themes/twentytwentyfive/patterns/vertical-header.php
/themes/twentytwentyfive/patterns/text-faqs.php
/themes/twentytwentyfive/patterns/testimonials-large.php
/themes/twentytwentyfive/patterns/testimonials-6-col.php
/themes/twentytwentyfive/patterns/testimonials-2-col.php
/themes/twentytwentyfive/patterns/template-single-vertical-header-blog.php
/themes/twentytwentyfive/patterns/template-single-text-blog.php
/themes/twentytwentyfive/patterns/template-single-photo-blog.php
/themes/twentytwentyfive/patterns/template-single-offset.php
/themes/twentytwentyfive/patterns/template-single-news-blog.php
/themes/twentytwentyfive/patterns/template-single-left-aligned-content.php
/themes/twentytwentyfive/patterns/template-search-vertical-header-blog.php
/themes/twentytwentyfive/patterns/template-search-text-blog.php
/themes/twentytwentyfive/patterns/template-search-photo-blog.php
/themes/twentytwentyfive/patterns/template-search-news-blog.php
/themes/twentytwentyfive/patterns/template-query-loop.php
/themes/twentytwentyfive/patterns/template-query-loop-vertical-header-blog.php
/themes/twentytwentyfive/patterns/template-query-loop-text-blog.php
/themes/twentytwentyfive/patterns/template-query-loop-photo-blog.php
/themes/twentytwentyfive/patterns/template-query-loop-news-blog.php
/themes/twentytwentyfive/patterns/template-page-vertical-header-blog.php
/themes/twentytwentyfive/patterns/template-page-photo-blog.php
/themes/twentytwentyfive/patterns/template-home-with-sidebar-news-blog.php
/themes/twentytwentyfive/patterns/template-home-vertical-header-blog.php
/themes/twentytwentyfive/patterns/template-home-text-blog.php
/themes/twentytwentyfive/patterns/template-home-posts-grid-news-blog.php
/themes/twentytwentyfive/patterns/template-home-photo-blog.php
/themes/twentytwentyfive/patterns/template-home-news-blog.php
/themes/twentytwentyfive/patterns/template-archive-vertical-header-blog.php
/themes/twentytwentyfive/patterns/template-archive-text-blog.php
/themes/twentytwentyfive/patterns/template-archive-photo-blog.php
/themes/twentytwentyfive/patterns/template-archive-news-blog.php
/themes/twentytwentyfive/patterns/template-404-vertical-header-blog.php
/themes/twentytwentyfive/patterns/services-team-photos.php
/themes/twentytwentyfive/patterns/services-subscriber-only-section.php
/themes/twentytwentyfive/patterns/services-3-col.php
/themes/twentytwentyfive/patterns/pricing-3-col.php
/themes/twentytwentyfive/patterns/pricing-2-col.php
/themes/twentytwentyfive/patterns/post-navigation.php
/themes/twentytwentyfive/patterns/page-shop-home.php
/themes/twentytwentyfive/patterns/page-portfolio-home.php
/themes/twentytwentyfive/patterns/page-link-in-bio-with-tight-margins.php
/themes/twentytwentyfive/patterns/page-link-in-bio-wide-margins.php
/themes/twentytwentyfive/patterns/page-link-in-bio-heading-paragraph-links-image.php
/themes/twentytwentyfive/patterns/page-landing-podcast.php
/themes/twentytwentyfive/patterns/page-landing-event.php
/themes/twentytwentyfive/patterns/page-landing-book.php
/themes/twentytwentyfive/patterns/page-cv-bio.php
/themes/twentytwentyfive/patterns/page-coming-soon.php
/themes/twentytwentyfive/patterns/page-business-home.php
/themes/twentytwentyfive/patterns/overlapped-images.php
/themes/twentytwentyfive/patterns/more-posts.php
/themes/twentytwentyfive/patterns/media-instagram-grid.php
/themes/twentytwentyfive/patterns/logos.php
/themes/twentytwentyfive/patterns/hidden-written-by.php
/themes/twentytwentyfive/patterns/hidden-sidebar.php
/themes/twentytwentyfive/patterns/hidden-search.php
/themes/twentytwentyfive/patterns/hidden-blog-heading.php
/themes/twentytwentyfive/patterns/hidden-404.php
/themes/twentytwentyfive/patterns/hero-podcast.php
/themes/twentytwentyfive/patterns/hero-overlapped-book-cover-with-links.php
/themes/twentytwentyfive/patterns/hero-full-width-image.php
/themes/twentytwentyfive/patterns/hero-book.php
/themes/twentytwentyfive/patterns/heading-and-paragraph-with-image.php
/themes/twentytwentyfive/patterns/header.php
/themes/twentytwentyfive/patterns/header-large-title.php
/themes/twentytwentyfive/patterns/header-columns.php
/themes/twentytwentyfive/patterns/header-centered.php
/themes/twentytwentyfive/patterns/grid-with-categories.php
/themes/twentytwentyfive/patterns/grid-videos.php
/themes/twentytwentyfive/patterns/format-link.php
/themes/twentytwentyfive/patterns/format-audio.php
/themes/twentytwentyfive/patterns/footer.php
/themes/twentytwentyfive/patterns/footer-social.php
/themes/twentytwentyfive/patterns/footer-newsletter.php
/themes/twentytwentyfive/patterns/footer-columns.php
/themes/twentytwentyfive/patterns/footer-centered.php
/themes/twentytwentyfive/patterns/event-schedule.php
/themes/twentytwentyfive/patterns/event-rsvp.php
/themes/twentytwentyfive/patterns/event-3-col.php
/themes/twentytwentyfive/patterns/cta-newsletter.php
/themes/twentytwentyfive/patterns/cta-heading-search.php
/themes/twentytwentyfive/patterns/cta-grid-products-link.php
/themes/twentytwentyfive/patterns/cta-events-list.php
/themes/twentytwentyfive/patterns/cta-centered-heading.php
/themes/twentytwentyfive/patterns/cta-book-locations.php
/themes/twentytwentyfive/patterns/cta-book-links.php
/themes/twentytwentyfive/patterns/contact-location-and-link.php
/themes/twentytwentyfive/patterns/contact-info-locations.php
/themes/twentytwentyfive/patterns/contact-centered-social-link.php
/themes/twentytwentyfive/patterns/comments.php
/themes/twentytwentyfive/patterns/binding-format.php
/themes/twentytwentyfive/patterns/banner-with-description-and-images-grid.php
/themes/twentytwentyfive/patterns/banner-poster.php
/themes/twentytwentyfive/patterns/banner-intro.php
/themes/twentytwentyfive/patterns/banner-intro-image.php
/themes/twentytwentyfive/patterns/banner-cover-big-heading.php
/themes/twentytwentyfive/patterns/banner-about-book.php
/themes/twentytwentyfive/parts/vertical-header.html
/themes/twentytwentyfive/parts/sidebar.html
/themes/twentytwentyfive/parts/header.html
/themes/twentytwentyfive/parts/header-large-title.html
/themes/twentytwentyfive/parts/footer.html
/themes/twentytwentyfive/parts/footer-newsletter.html
/themes/twentytwentyfive/parts/footer-columns.html
/themes/twentytwentyfive/functions.php
/themes/twentytwentyfive/assets/images/woman-splashing-water.webp
/themes/twentytwentyfive/assets/images/vash-gon-square.webp
/themes/twentytwentyfive/assets/images/typewriter.webp
/themes/twentytwentyfive/assets/images/star-thristle-flower.webp
/themes/twentytwentyfive/assets/images/services-subscriber-photo.webp
/themes/twentytwentyfive/assets/images/ruins-image.webp
/themes/twentytwentyfive/assets/images/red-hibiscus-closeup.webp
/themes/twentytwentyfive/assets/images/poster-image-background.webp
/themes/twentytwentyfive/assets/images/parthenon-square.webp
/themes/twentytwentyfive/assets/images/nurse.webp
/themes/twentytwentyfive/assets/images/northern-buttercups-flowers.webp
/themes/twentytwentyfive/assets/images/marshland-birds-square.webp
/themes/twentytwentyfive/assets/images/man-in-hat.webp
/themes/twentytwentyfive/assets/images/malibu-plantlife.webp
/themes/twentytwentyfive/assets/images/location.webp
/themes/twentytwentyfive/assets/images/link-in-bio-image.webp
/themes/twentytwentyfive/assets/images/link-in-bio-background.webp
/themes/twentytwentyfive/assets/images/hero-podcast.webp
/themes/twentytwentyfive/assets/images/grid-flower-2.webp
/themes/twentytwentyfive/assets/images/grid-flower-1.webp
/themes/twentytwentyfive/assets/images/flower-meadow-square.webp
/themes/twentytwentyfive/assets/images/delphinium-flowers.webp
/themes/twentytwentyfive/assets/images/dallas-creek-square.webp
/themes/twentytwentyfive/assets/images/coral-square.webp
/themes/twentytwentyfive/assets/images/coming-soon-bg-image.webp
/themes/twentytwentyfive/assets/images/category-sunflowers.webp
/themes/twentytwentyfive/assets/images/category-cactus.webp
/themes/twentytwentyfive/assets/images/category-anthuriums.webp
/themes/twentytwentyfive/assets/images/campanula-alliariifolia-flower.webp
/themes/twentytwentyfive/assets/images/botany-flowers.webp
/themes/twentytwentyfive/assets/images/botany-flowers-closeup.webp
/themes/twentytwentyfive/assets/images/book-image.webp
/themes/twentytwentyfive/assets/images/book-image-landing.webp
/themes/twentytwentyfive/assets/images/akaka-falls-state-park-flora.webp
/themes/twentytwentyfive/assets/images/agenda-img-4.webp
/themes/twentytwentyfive/assets/images/404-image.webp
/themes/twentytwentyfive/assets/fonts/ysabeau-office/YsabeauOffice-VariableFont_wght.woff2
/themes/twentytwentyfive/assets/fonts/ysabeau-office/YsabeauOffice-Italic-VariableFont_wght.woff2
/themes/twentytwentyfive/assets/fonts/vollkorn/Vollkorn-VariableFont_wght.woff2
/themes/twentytwentyfive/assets/fonts/vollkorn/Vollkorn-Italic-VariableFont_wght.woff2
/themes/twentytwentyfive/assets/fonts/roboto-slab/RobotoSlab-VariableFont_wght.woff2
/themes/twentytwentyfive/assets/fonts/platypi/Platypi-VariableFont_wght.woff2
/themes/twentytwentyfive/assets/fonts/platypi/Platypi-Italic-VariableFont_wght.woff2
/themes/twentytwentyfive/assets/fonts/manrope/Manrope-VariableFont_wght.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-SemiBoldItalic.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-SemiBold.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-RegularItalic.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-Regular.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-MediumItalic.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-Medium.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-LightItalic.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-Light.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-ExtraLightItalic.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-ExtraLight.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-ExtraBoldItalic.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-ExtraBold.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-BoldItalic.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-Bold.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-BlackItalic.woff2
/themes/twentytwentyfive/assets/fonts/literata/Literata72pt-Black.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-ThinItalic.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-Thin.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-SemiBoldItalic.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-SemiBold.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-Regular.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-MediumItalic.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-Medium.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-LightItalic.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-Light.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-Italic.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-ExtraLightItalic.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-ExtraLight.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-ExtraBoldItalic.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-ExtraBold.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-BoldItalic.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-Bold.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-BlackItalic.woff2
/themes/twentytwentyfive/assets/fonts/fira-sans/FiraSans-Black.woff2
/themes/twentytwentyfive/assets/fonts/fira-code/FiraCode-VariableFont_wght.woff2
/themes/twentytwentyfive/assets/fonts/beiruti/Beiruti-VariableFont_wght.woff2
/themes/twentytwentyfive/assets/css/editor-style.css
/themes/recursos-ia-theme/.DS_Store
/themes/index.php
/themes/.DS_Store
/themes/_recursos-ia-theme/utils.js
/themes/_recursos-ia-theme/style.css
/themes/_recursos-ia-theme/main.js
/themes/_recursos-ia-theme/index.html
/themes/_recursos-ia-theme/header.js
/themes/_recursos-ia-theme/functions.js
/themes/_recursos-ia-theme/footer.js
/themes/_recursos-ia-theme/config.js
/themes/_recursos-ia-theme/components.js
/themes/_recursos-ia-theme/app.js
/themes/_recursos-ia-theme/.DS_Store
/plugins/recursos-ia-frontend/assets/.DS_Store
/plugins/recursos-ia-frontend/.DS_Store
/plugins/index.php
/plugins/classic-editor/scripts/post.min.js
/plugins/classic-editor/scripts/post.js
/plugins/classic-editor/readme.txt
/plugins/classic-editor/LICENSE.md
/plugins/classic-editor/js/block-editor-plugin.js
/plugins/classic-editor/classic-editor.php
/plugins/.DS_Store
/index.php
